<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()" [class]="navClass">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" routerLink="/index" *ngIf="navClass !== 'nav-light'">
<!--        <img src="assets/images/logo-dark.png" class="l-dark" height="24" alt="">-->
<!--        <img src="assets/images/logo-dark.png" class="l-light" height="24" alt="">-->
      </a>
      <a class="logo" routerLink="/index" *ngIf="navClass === 'nav-light'">
<!--        <img src="assets/images/logo-dark.png" class="l-dark" height="24" alt="">-->
<!--        <img src="assets/images/logo-light.png" class="l-light" height="24" alt="">-->
      </a>
    </div>
    <!--end login button-->
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu" [class]="navClass">
        <li><a routerLink="/" class="nav-link-ref" [ngxScrollTo]="'#home'">Inicio</a></li>
        <li class="has-submenu">
          <a href="javascript:void(0)" (click)="onMenuClick($event)">Conócenos</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li><a class="nav-link-ref" [ngxScrollTo]="'#filosofia'">Filosofía Institucional</a></li>
            <li><a class="nav-link-ref">Cómo funcionamos</a></li>
            <li><a class="nav-link-ref" routerLink="/components">Dirección ejecutiva</a></li>
          </ul>
        <li class="has-submenu">
          <a href="javascript:void(0)" (click)="onMenuClick($event)">Así te apoyamos</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li><a class="nav-link-ref" [ngxScrollTo]="'#apoyo'">Comunicación para mejorar el AI</a></li>
            <li><a class="nav-link-ref" [ngxScrollTo]="'#apoyo'">Comunicación para managers y artistas</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="onMenuClick($event)" [ngxScrollTo]="'#academia'">Academia</a><span class="menu-arrow"></span>         
        </li>
        <li>
          <a href="javascript:void(0)" (click)="onMenuClick($event)" [ngxScrollTo]="'#contactanos'">Contáctanos</a><span class="menu-arrow"></span>         
        </li>
      </ul>
      <!--end navigation menu-->
      <div class="buy-menu-btn d-none">
        <a href="javascript: void(0);" target="_blank" class="btn btn-primary">Buy Now</a>

      </div>
      <!--end login button-->
      <!--end login button-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->
